<div class="alert alert-info">
  <p>
    This item is assigned to <%= content_item.auditor || "no one" %>
  </p>
  <%= form_tag audits_allocations_path,
    class: "form-inline",
    data: {
      test_id: "allocation-form"
    } do %>
    <input type="hidden" name="content_ids[]" value="<%= content_item.content_id %>" />
    <input type="hidden" name="redirect_to_content_item" value="true" />
    <div class="form-group">
      <label for="allocate_to">Assign to</label>
      <%= render "audits/allocations/select" %>
    </div>
    <button type="submit" class="btn btn-default" data-test-id="allocate">
      Assign
    </button>
  <% end %>
</div>
