<div class="row <%= attribute.to_s.dasherize %>">
  <div>
    <%= form.label "#{attribute}", class: "checkbox-inline js-yes-checkbox" do %>
      <%= form.check_box attribute %>
      <%= question %>
    <% end %>
  </div>
</div>
