<div class="row <% unless related_question_answered %>if-js-hide<% end %> <%= attribute.to_s.dasherize %> js-free-text-question">
  <div class="col-sm-12">
    <%= form.label attribute, question %>
    <%= form.text_area attribute, class: 'form-control', data: { test_id: attribute.to_s.dasherize } %>
  </div>
</div>
