<div id="metadata" class="audit-metadata">
  <h4>Item details</h4>

  <%= render "metadata_columns", metadata: content_metadata %>

  <%= render "components/expandable_content",
    button_at_top: true,
    open_label: '<span class="glyphicon glyphicon-triangle-right"></span> More details',
    close_label: '<span class="glyphicon glyphicon-triangle-bottom"></span> Fewer details' do %>
    <%= render "metadata_columns", metadata: hidden_content_metadata %>
  <% end %>

</div>
