<div class="alert alert-info" role="alert">
  <% if filtered_to_current_user? %>
    <p>
      You have no content to audit.
    </p>
    <p>
      <%= link_to "Assign content", audits_allocations_url %>
    </p>
  <% elsif filtered_to_specific_user? %>
    <%= filtered_user.name %> has no content to audit.
    <p>
      <%= link_to "Assign content", audits_allocations_url %>
    </p>
  <% else %>
    No content items match your filters
  <% end %>
</div>
