
<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<% content_for :header do %>
    <%= render 'audits/common/navigation' %>
<% end %>

<button type="button" class="btn btn-success">Start audit of first item</button>

<%= render "no_content_to_audit" if content_items.empty? %>
<%= render "content_items", locals: { content_items: content_items } if content_items.any? %>
