---
title: About
---

# GOV.UK Content Performance API

<div class="phase-tag">
  <p>
    <strong class="phase-banner"><%= config[:tech_docs][:phase] %></strong>
    <span>
      This is a trial service. <a href="#version">Find out what
      this means</a>.
    </span>
  </p>
</div>

## What does this API do?

This API provides access to time series metrics data about the performance of GOV.UK content. Examples of metrics include unique page views and number of PDF attachments. Refer to the [getting started section][] for a complete list of metrics.

This API does not expose the content itself. Use the [GOV.UK Content API][] to access the content.

## Rate limiting

There is a limit of 10 requests per second per client. All requests over this limit will not be processed, and you will receive a response with `HTTP status code 429 (too many requests)`.

Your application should handle this exception by retrying the request at a later time.

[Contact support][] if you want to increase this limit.

## Version

GOV.UK Content Performance API is currently in alpha and is likely to change between versions.

You may use the API and build applications that use it, but live services should not currently rely on the API or the data it provides.

## Before you start

### Register an API key

Using GOV.UK Content Performance API currently requires [authentication][] using an OAuth2 bearer token.

#### GOV.UK users:

1. Go to [GOV.UK Signon][].
2. Click `API Users`.
3. Click `Create API user button`.
4. Create the API user.
5. Click `Add application token` and select `Content Performance Manager` from the list.
6. Copy the bearer token.

#### GDS users:

Contact us through #govuk-developers on [GOV.UK Slack][].

#### Government users:

Contact the GOV.UK Content Performance API team through [Zendesk][].

### Find out Content IDs

To query the API, you need to know the content ID for the piece of content you are interested in.

You can find out the content ID for GOV.UK pages using the [GOV.UK Content API][].

For example, for https://www.gov.uk/vat-rates, you can query the Content API using the following code:

```shell
curl https://www.gov.uk/api/content/vat-rates | python -m json.tool # Pretty print JSON
```

```json
{
  "analytics_identifier": null,
  "base_path": "/vat-rates",
  "content_id": "f838c22a-b2aa-49be-bd95-153f593293a3",
  "content_purpose_document_supertype": "guidance",
  "content_purpose_supergroup": "guidance_and_regulation",
  "content_purpose_subgroup": "guidance",
  "document_type": "answer",
  "email_document_supertype": "other",
  "first_published_at": "2011-09-12T15:43:03.000+00:00",
  "government_document_supertype": "other",
  "locale": "en",
  "navigation_document_supertype": "guidance",
  "need_ids": [],
  "phase": "live",
  "public_updated_at": "2014-12-12T14:55:23.000+00:00",
  "publishing_app": "publisher",
  "publishing_scheduled_at": null,
  "rendering_app": "government-frontend",
  "scheduled_publishing_delay_seconds": null,
  "schema_name": "answer",
  "search_user_need_document_supertype": "core",
  "title": "VAT rates",
  "updated_at": "2018-03-26T16:21:14.213Z",
  "user_journey_document_supertype": "thing",
  "withdrawn_notice": {},
  "publishing_request_id": "3592-1504179295.816-10.3.3.1-410",
  "links": {...},
  "description": "Current VAT rates - standard 20% and rates for reduced rate and zero-rated items",
  "details": {...}
}
```

Pass the content_id value to the content performance API.

## Getting started

### Get a full list of available metrics

The exact metrics provided by the API may change over time. To retrieve the full list:

```
curl -H 'Authorization: Bearer your-token-here' https://content-performance-manager.publishing.service.gov.uk/api/v1/metrics | python -m json.tool
```

```
[
{
  "description": "Number of pageviews",
  "source": "Google Analytics",
  "metric_id": "pageviews"
},
{
  "description": "Number of unique pageviews",
  "source": "Google Analytics",
  "metric_id": "unique_pageviews"
},
{
  "description": "Number of reported content issues",
  "source": "Feedback explorer",
  "metric_id": "feedex_comments"
},
{
  "description": "Number of .pdf attachments",
  "source": "Publishing API",
  "metric_id": "number_of_pdfs"
},
...
]
```

### Get metrics data for a single piece of content

You can use the `/metrics/[metric-id]/[content-id]/` endpoint to get the value of any metric; for example, the number of page views.

To summarise the recorded data over a requested time frame:

```shell
curl -H 'Authorization: Bearer your-token-here' https://content-performance-manager.publishing.service.gov.uk/api/v1/metrics/f838c22a-b2aa-49be-bd95-153f593293a3?from=2018-02-28&to=2018-02-28&metric=pageviews
```

The `from` and `to` query parameters specify the date range to query.

To get data points for each day in the requested time frame:

```shell
curl -H 'Authorization: Bearer your-token-here' https://content-performance-manager.publishing.service.gov.uk/api/v1/metrics/time-series/f838c22a-b2aa-49be-bd95-153f593293a3?from=2018-02-28&to=2018-02-28&metric=pageviews
```

## API reference

The GOV.UK Content API is accessed using HTTP and returns data in a JSON format. The [reference documentation][] details the endpoints, methods and responses.

All examples are written in curl.

## Authentication and authorisation

To authenticate, include an Authorization header like the following:

```
Authorization: Bearer your-token-here
```

## Testing

You can test your integration in the live environment. There is no sandbox environment provided for testing.

## Security and compliance

### Reporting vulnerabilities

If you believe there is a security issue with GOV.UK Content Performance API, please [contact us immediately](#support).

Please don’t disclose the suspected breach publicly until it has been fixed.

## Security guidelines

[GOV.UK Content Performance API][] follows [government HTTPS security guidelines][] for external facing services and uses HTTPS to provide secure connections.

## Support

If you experience any issues or have questions regarding GOV.UK Content Performance API
please:

- **If you are a government department:** Raise a ticket with [GOV.UK Support][]
- **Otherwise:** [Contact GOV.UK][] with your query


[getting started section]: /#getting-started
[Contact support]: http://dev.gov.uk:4567/#support
[authentication]: /#authentication-amp-authorisation
[GOV.UK Signon]: https://signon.publishing.service.gov.uk/
[GOV.UK Slack]: https://govuk.slack.com
[GOV.UK Content API]: https://content-api.publishing.service.gov.uk
[government HTTPS security guidelines]: https://www.ncsc.gov.uk/guidance/tls-external-facing-services
[Contact GOV.UK]: https://www.gov.uk/contact/govuk
[contact the team]: http://dev.gov.uk:4567/#Support
[GOV.UK Support]: http://dev.gov.uk:4567/#Support
[Zendesk]: https://www.zendesk.co.uk/
[GOV.UK Content Performance API]: https://content-performance-api.publishing.service.gov.uk/#gov-uk-content-performance-api
[reference documentation]: https://content-performance-api.publishing.service.gov.uk/reference.html#gov-uk-content-performance-api-v1-0-0
