<h1>Taxonomy projects</h1>

<table class="table table-bordered table-hover">
  <thead>
  <tr class="table-header">
    <td>Title</td>
    <td>Items</td>
  </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.taxonomy_todos.count %></td>
        <td><%= link_to 'Start tagging', taxonomy_project_start_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
