<input type="text" class="js-batch-size">

<table>
  <thead>
    <tr>
      <td>
        <input type="checkbox" class="js-select-all" />
      </td>
    </tr>
  </thead>
  <tbody>
    <% 10.times do %>
      <td>
        <input type="checkbox" />
      </td>
    <% end %>
  </tbody>
</table>
