<div class="form-group">
  <%= label_tag :allocated_to, "Assigned to" %>
  <%= select_tag :allocated_to,
                 allocation_options_for_select(params[:allocated_to]),
                 class: "form-control" %>
</div>
