<div class="form-group">
  <%= label_tag :allocated_to, "Assigned to" %>
  <%= select_tag :allocated_to,
                 allocated_to_options_for_select,
                 include_blank: "Anyone",
                 class: "form-control" %>
</div>
