<div class="form-group" data-test-id="audit-status">
  <%= label_tag :audit_status, 'Audit status' %>

  <%= render partial: "components/radio_button",
             collection: audit_status_radio_button_options(params[:audit_status]),
             as: :option %>
</div>
