<div class="form-group" data-test="audit-status">
  <%= label_tag :audit_status, 'Audit status' %>

  <%= render partial: "components/radio_button",
             collection: audit_status_radio_button_options(filter.audit_status),
             as: :option %>
</div>
