<div class="form-group">
  <%= label_tag :document_type, 'Content type' %>
  <%= select_tag :document_type,
                 document_type_options_for_select(params[:document_type]),
                 include_blank: "All",
                 class: "form-control",
                 data: {
                   tracking_id: "document-type",
                   test_id: "document-type"
                 }%>
</div>
