<div class="form-group" data-module="organisation-autocomplete">
  <%= label_tag "organisations[]", "Organisations" %>
  <% organisations_options.each do |options| %>
    <div class="organisation-select-wrapper js-organisation-select-wrapper">
      <%= select_tag "organisations[]",
                     options,
                     include_blank: true,
                     class: "form-control js-organisation-select",
                     data: {
                         tracking_id: "organisations",
                     } %>
    </div>
  <% end %>
</div>
