<div class="form-group" data-module="multiselect-autocomplete" data-select-type="organisation">
  <%= label_tag :organisations %>
  <div class="select-wrapper js-select-wrapper">
    <%= hidden_field_tag("organisations[]", [""], id: nil) %>
    <%= select_tag :organisations,
                   organisation_options_for_select(filter.organisations),
                   include_blank: true,
                   multiple: true,
                   class: "form-control js-select",
                   data: {
                       tracking_id: "organisations",
                   } %>
  </div>
</div>
