<div class="form-group primary-orgs">
  <%= hidden_field_tag :primary, false, id: nil %>
  <%= check_box_tag :primary, true, params[:primary] == 'true' %>
  <%= label_tag :primary, "Primary organisation only" %>
</div>
