<div class="form-group" data-test-id="primary-orgs">
  <%= hidden_field_tag :primary, false, id: nil %>
  <%= check_box_tag :primary, true, params[:primary] == 'true' %>
  <%= label_tag :primary, "Primary organisation only", data: { test_id: "primary-orgs-label" } %>
</div>
