<div class="form-group">
  <%= label_tag :theme, 'Theme' %>
  <%= select_tag :theme,
                 theme_and_subtheme_options_for_select,
                 include_blank: "All",
                 class: "form-control" %>
</div>
