<h1>Organisations</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-header">
      <th>Name</th>
      <th>Number of content items</th>
    </tr>
  </thead>
  <tbody>
    <%= render @organisations %>
  </tbody>
</table>

<%= paginate @organisations %>
