<%
  def options_with_selection(selection)
    options = {
      "cabinet-office": "Cabinet Office",
      "department-for-education": "Department for Education",
      "ministry-of-defence": "Ministry of Defence",
    }

    options.reduce("") do |html, (value, label)|
      selected = value == selection.to_sym ? 'selected="selected"' : ''
      html + "<option value=\"#{value}\" #{selected}>#{label}</option>"
    end
  end

  def organisations_options
    [
      options_with_selection("ministry-of-defence"),
      options_with_selection("cabinet-office"),
    ]
  end
%>

<%= render "audits/common/organisations" %>
