<div class="summary">
  <div class="summary-item">
    <span class="summary-item-value"><%= @metrics[:total_pages][:value] %></span> 
    <span class="summary-item-label">Live pages</span>
  </div>
</div>  
