<h1><%= @organisation.name %></h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th><%= order_link "Last Updated", :public_updated_at, params[:order] %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @content_items %>
  </tbody>
</table>
