<h1>List Content Items</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @content_items.each do |content_item| %>
      <tr>
        <td><a href="<%= content_item.url %>"> <%= content_item.title %> </a></td>
        <td><%= time_ago_in_words(content_item.public_updated_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
