<h1><%= @content_item.title %></h1>

<%= link_to "Page on GOV.UK", @content_item.url %>
<br>
Document type: <%= @content_item.document_type %>
<br>
Last updated:  <%= time_ago_in_words(@content_item.public_updated_at) %> ago
