<tr>
  <td><%= check_box_tag "content_ids[]", content_item.content_id, false, class: 'select-content-item' %></td>
  <td><%= link_to content_item.title, content_item_audit_path(content_item, filter_params) %></td>
  <td data-test-id='item-assigned-to'><%= content_item.assigned_to_name %></td>
  <td><%= content_item.six_months_page_views %></td>
</tr>
