<div class="form-group">
  <%= label_tag do %>
      <%= select_tag option_name.to_s, options_for_select(Metric.find_all.map(&:name), params[option_name]), :include_blank => 'Select metric', class: 'form-control' %>
  <% end %>
</div>
