<% formatted = format_percentage(percentage, precision: 5) %>

<div class="progress"
     data-test-id="<%= data_test_id %>">
  <div class="progress-bar"
        role="progressbar"
        aria-valuenow="<%= percentage %>"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: <%= formatted %>;">
    <span class="sr-only">
      <%= formatted %> Complete
    </span>
  </div>
</div>
