.allocation-menu {
  padding-left: 20px;

  input[type=text] {
    width: 60px;
  }

  .allocate {
    padding-right: 10px;
  }

  .items {
    padding-left: 10px;
    padding-right: 10px;
  }

  input[type=submit] {
    margin-left: 10px;
  }
}
