$all-items-link-colour: #000000;

.all-items-nav {
  a {
    font-size: 16px;
    color: $all-items-link-colour;
    text-decoration: underline;

    &:visited {
      color: $all-items-link-colour;
    }
  }
}

.description {
  margin: 2em 0 2em 0;
}

.header-row {
  margin-bottom: 1.5em;
}

.reformat {
  margin-bottom: 2em;
}

.optional-questions,
.redirect-urls,
.similar-urls {
  margin-left: 0;
  padding-left: 0.5em;
  border-left: solid 2px;
  margin-bottom: 1.5em;

  label {
    font-weight: normal;
  }
}

.optional-questions {
  input[type=checkbox], input[type=radio] {
    margin-left: -30px;
  }
}

.audit-content-item form .row.notes {
  margin-top: 1em;
  margin-left: 0;

  .col-sm-12 {
    padding: 0;
  }
}

.btn-success {
  margin-top: 1em;
  font-size: 19px;
}

.audit-content-item {
  font-size: 19px;

  h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 22px;
  }

  a {
    text-decoration: underline;
  }
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    margin-bottom: 6px;
  }

  .allocation {
    display: flex;
    align-items: center;
    font-size: 15px;

    .assigned-to {
      margin-right: 5px;
    }

    .allocation-avatar {
      margin: 0 10px;

      img {
        border-radius: 2px;
      }
    }
  }
}

.audit-status {
  font-size: 15px;
  text-align: right;
}

.audit-metadata {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;

  & > h3 {
    flex: 0 0 100%;
  }

  div {
    flex: 1 1 28%;
    margin: 10px 10px 0 0;
  }

  h4 {
    font-size: 16px;
  }

  p {
    margin: 0;
  }

  .extra-metadata {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    .button-container {
      flex: 0 0 100%;

      button {
        padding-left: 0;
        margin-top: 10px;
      }
    }
  }
}

.audit-content-item .pass {
  margin-left: 0 !important;

  .radio-inline no {
    margin-left: 2em;
  }
}

.alert-heading {
  font-size: 18px;
  margin-top: 0;
}

.content-preview {
  border-left: 1px solid #eee;
  position: fixed;
  right: 0;
  width: 50%;
  top: 57px;
  bottom: 0;
  overflow-y: scroll;
}

.skip-next {
  margin-top: 2em;
}

.other-functions {
  margin-left: 0 !important;
}

.audit-content-item .alert-info {
  margin-top: 20px;
  font-size: 14px;

  .form-inline {
    margin-bottom: 0;
  }
}
