$next-link-colour: #000000;

.prev-next-links {
  a {
    font-size: 16px;
    color: $next-link-colour;
    text-decoration: underline;

    &:visited {
      color: $next-link-colour;
    }
  }

  .next-item {
    float: right;
  }
}

.description {
  margin: 2em 0 4em 0;
}

.header-row {
  margin-bottom: 1.5em;
}

.t-reformat {
  margin-bottom: 2em;
}

.t-redirect-urls {
  margin-left: 0;
  padding-left: 2em;
  border-left: solid 2px;
  margin-bottom: 1.5em;

  label {
    font-weight: normal;
  }
}

.ur-ls-of-similar-pages {
  border-left: solid;
  padding-left: 2em;
}

.btn-success {
  margin-top: 1em;
}

.audit-metadata {
  h4 {
    margin-top: 2em;
  }

  p {
    margin: 0;
  }
}

.alert-heading {
  font-size: 18px;
  margin-top: 0;
}
