body.with-iframe {
  header.navbar {
    position: fixed;
    left: 0;
    right: 0;

    .container {
      width: 100%;
    }
  }

  main {
    position: fixed;
    left: 0;
    width: 50%;
    top: 57px;
    bottom: 0;
    overflow-y: scroll;

    .phase-banner {
      margin: 0 10px;
    }

    .row {
      margin: 0 20px 20px 20px;
    }
  }

  .iframe-link {
    padding: 10px;
    margin: 0;
  }

  .alert {
    margin: 20px 0;
  }
}
