.preview-pane {
  $preview-url-border: #bfc1c3;

  padding-left: 0;
  padding-right: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .preview-url {
    flex: 0 0 auto;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid $preview-url-border;
  }

  iframe {
    flex: 1 1 auto;
    width: 100%;
  }

  .lte-ie7 &,
  .ie8 &,
  .ie9 & {
    iframe {
      height: 450px;
    }
  }
}
