.guidance {
  font-size: 19px;
}

.guidance-sidebar {
  font-size: 16px;

  h2 {
    font-size: 16px;
  }

  ul {
    padding-left: 15px;
    list-style-type: none;
  }

  li {
    margin-bottom: 5px;
  }

  li:before {
    content: "–";
    float: left;
    display: block;
    width: 15px;
    margin-left: -15px;
  }
}
