$theme-border-colour: #444;
$row-colour: #000;
$background-colour: #ddd;
$row-border-colour: #ccc;
$link-background: #ffa;
$theme-active-colour: #8CEFFD;
$subtheme-active-colour: #A5FF8A;
$criteria-active-colour: #DBBFF7;
$content-active-colour: #FFFF99;


.inventory {
  h1 {
    margin-bottom: 1em;
  }

  .tiered-menu {
    display: inline-block;
    border: 2px solid $theme-border-colour;
    margin-top: 2em;
  }

  .themes,
  .subthemes,
  .criteria {
    border-right: 1px solid $theme-border-colour;
  }

  .themes,
  .subthemes,
  .criteria,
  .content {
    display: table-cell;
    padding: 0;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.3;

    .active {
      font-weight: normal !important;
      background: inherit !important;
    }
  }

  .row {
    display: block;
    border-bottom: 1px solid $row-border-colour;
    min-width: 12em;
    margin: 0;
    padding: 1em;
    color: $row-colour;
    text-decoration: none;

    &.active {
      font-weight: bold;
    }

    &.header {
      color: $row-colour;
      background: $background-colour;
      border-color: $row-colour;

      &:hover {
        background: $background-colour;
      }
    }

    &:hover {
      background: $link-background;
    }

    input[type="text"] {
      width: 6em;
      margin-right: 0.5em;
    }
  }

  .themes
  .row.active {
    background: $theme-active-colour;
  }

  .subthemes
  .row.active {
    background: $subtheme-active-colour;
  }

  .criteria
  .row.active {
    background: $criteria-active-colour;
  }

  .content
  .row.active {
    background: $content-active-colour;
  }
}
