[data-module="multiselect-autocomplete"] {
  $black: #000;

  select[multiple] {
    height: 300px;
  }

  .select-wrapper {
    position: relative;
    margin-bottom: 6px;

    .autocomplete__wrapper {
      width: 85%;
    }

    .remove-select {
      @extend %legend-reset;

      position: absolute;
      top: 0;
      right: 0;
      background: none;
      height: 34px;
    }
  }

  .add-select {
    padding: 0;
  }
}
