.phase-banner {
  border-bottom: 1px solid $dev-color;
  margin-bottom: 40px;  // Add header margin height*2  
  margin-top: -20px;  // Offset the header margin.  
  padding: 8px 0;
  
  .label {
    font-size: 100%;
    margin-right: 10px;
  }

  p {
    display: table;
    margin: 0;
  }

  span {
    display: table-cell;
  }
}
