.spinner {
  $spinner-background: #eeeeee;
  $spinner-foreground: #000000;

  border: 4px solid $spinner-background;
  border-top: 4px solid $spinner-foreground;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: auto;
  animation: spinner 2s linear infinite;

  .lte-ie7 &,
  .ie8 &,
  .ie9 & {
    height: 0;
    width: 0;
    border: none;

    &:after {
      content: 'Loading...';
    }
  }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
