.summary {
  margin: 20px 0;
}

.summary-item-value,
.summary-item-label {
  display: block;
}

.summary-item-label {}

.summary-item-value {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
}
