$visited-colour: #337ab7;

[aria-sort] > * {
  display: inline-block;
  position: relative;

  &:after {
    font-size: 10px;
    line-height: 1;
    position: absolute;
    right: -15px; // 1.5x arrow width
    top: 50%;
    margin-top: -5px; // 0.5 arrow height
  }

  &:visited {
    color: $visited-colour;
  }
}

.table > thead > tr > .desc,
.table > thead > tr > .asc {
  padding-right: 18px; // Increase cell padding to fit arrow
}

.desc > * {
  &:after {
    content: '\25BC'; // Down arrow
  }
}

.asc > * {
  &:after {
    content: '\25B2'; // Up arrow
  }
}

.content-items-counter {
  padding-bottom: 10px;
}
