[aria-sort] > * {
  display: inline-block;
  position: relative;

  &:after {
    font-size: 10px;
    line-height: 1;
    position: absolute;
    right: -15px; // 1.5x arrow width
    top: 50%;
    margin-top: -5px; // 0.5 arrow height
  }

  &:visited {
    color: #337ab7;
  }
}

.table > thead > tr > th[aria-sort=descending],
.table > thead > tr > th[aria-sort=ascending] {
  padding-right: 18px; // Increase cell padding to fit arrow
}

[aria-sort=descending] > * {
  &:after {
    content: '\25BC'; // Down arrow
  }
}

[aria-sort=ascending] > * {
  &:after {
    content: '\25B2'; // Up arrow
  }
}
