/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require selectize
 *= require selectize.bootstrap3
 */

@import 'govuk_admin_template';
@import 'tables';
@import 'pagination';
@import 'phase_banner';
@import 'summary';
@import 'audit';
@import 'report';
@import 'inventory';
@import 'term_generation';

// TODO: move any styles below to modules once more established

[data-toggle] {

  &[aria-expanded="true"] {

    [data-close-label] {
      display: inline;
    }

    [data-open-label] {
      display: none;
    }
  }

  [data-close-label] {
    display: none;
  }
}
