<div class="guidance-sidebar">
  <h2>Page contents:</h2>
  <nav role="navigation">
    <ul>

      <% guidance_sidebar_headings(yield).each do |heading| %>
        <li>
          <a href="#<%= heading[:id] -%>">
            <%= heading[:title] -%>
          </a>
        </li>
      <% end %>

    </ul>
  </nav>
</div>
