<div class="phase-banner">
  <p>
    <strong class="label label-primary">BETA</strong>
    <span>
      This is a new service — your
      <a href="mailto:content-performance-feedback@digital.cabinet-office.gov.uk">feedback</a>
      will help us improve it.
    </span>
  </p>
</div>
