<div class="phase-banner">
  <p>
    <strong class="label label-primary">ALPHA</strong>
    <span>
      This is a new service.
      <% if controller_path == "content/items" %>
          Please answer <a href="https://www.surveymonkey.co.uk/r/YFZ69HL">these quick questions</a> to help us make it better.
      <% end %>
    </span>
  </p>
</div>
