---
http_interactions:
- request:
    method: get
    uri: https://www.gov.uk/api/search.json?count=0&facet_organisations=10000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fastly-Backend-Name:
      - origin
    body:
      encoding: UTF-8
      string: '{"results":[],"total":308050,"start":0,"facets":{"organisations":{"options":[{"value":{"title":"HM
        Revenue & Customs","slug":"hm-revenue-customs","content_id":"6667cce2-e809-4e21-ae09-cb0bdc1ddda3","acronym":"HMRC","organisation_state":"live","link":"/government/organisations/hm-revenue-customs"},"documents":81674},{"value":{"title":"Department
        for International Development","slug":"department-for-international-development","content_id":"db994552-7644-404d-a770-a2fe659c661f","acronym":"DFID","organisation_state":"live","link":"/government/organisations/department-for-international-development"},"documents":34657},{"value":{"title":"Foreign
        & Commonwealth Office","slug":"foreign-commonwealth-office","content_id":"9adfc4ed-9f6c-4976-a6d8-18d34356367c","acronym":"FCO","organisation_stat[...]
