<% content_for :full_width, true %>

<% content_for :html_class, 'full-width-audit' %>

<% content_for :content do %>
  <div class="row">
  <div class="audit-pane col-md-6">
    <%= render 'application/beta_banner' %>
    <%= yield %>
  </div>
  <div class="preview-pane col-md-6 hidden-xs hidden-sm">
  </div>
</div>
<% end %>

<%= render file: 'layouts/audit_wrapper' %>
